body {
  background-color: #d6d6d6;
  background-image: url("background.jpg");
  background-repeat: repeat-x;
  background-size: 325px;
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
}

header img {
  width: 200px;
}

header {
  margin: 10px;
}

main {
  display: flex;
  width: 70%;
  margin: 20px auto;
  text-align: left;
}

section {
  /*display: inline-block;*/
  background: #fff;
  flex: 70%;
  padding: 10px;
  margin: 10px;
  align-self: flex-start;
}

aside {
  /*display: inline-block;*/
  background: #fff;
  flex: 30%;
  padding: 20px;
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  align-self: flex-start;
}

article {
  margin: 10px auto;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

article img {
  width: 100%;
}

article p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.7;
}

article a {
  color: #ff3300;
  font-weight: bold;
  text-decoration: none;
}

article p a {
  text-transform: uppercase;
}

article blockquote {
  margin: 0;
  padding: 10px;
  border-top: 1px dotted black;
  border-bottom: 2px solid black;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

aside li, aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ads {
  margin: 10px 0 10px 0;
  text-align: center;
}

#ads img {
  margin: 5px 0 5px 0;
  width: 90%;
}

footer {
  margin: 5px 0 5px 0;
}

